body {
  background-color: #fffee1;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.currency-exchanger {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #fffee1;
}

.currency-exchanger__header {
  text-align: center;
  margin-bottom: 30px;
}
.currency-exchanger__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fffee1;
  padding: 20px;
  border-radius: 5px;
}

.currency-exchanger__form-title {
  margin-bottom: 20px;
}


.currency-exchanger__form-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-exchanger__form-group label {
  margin-bottom: 5px;
  text-align: center;
}
.currency-exchanger__form-group input[type="number"] {
  border-radius: 5px;
  border: 1px solid #ffa335;
  padding: 3px;
  width: 80px;
  text-align: center;
}
.currency-exchanger__form-group select {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ffa335;
}

.currency-exchanger__form-button {
  padding: 10px 25px;
  background-color: #d27c2c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.currency-exchanger__exchanges-title {
  margin-bottom: 20px;
}

.currency-exchanger__exchanges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.currency-exchanger__exchange-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.currency-exchanger__form-group--arrow{
margin-top: 15px;
}
.card {
  position: relative;
  width: 38%;
  background-color: #d3e19d;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px;
  margin: 10px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}